<%= turbo_frame_tag "game_state", target: "_top" do %>
  <div id="<%= dom_id game %>">
    <%= render "squares", game: game %>

  </div>

<% end %>

<%# if game.is_player?(controller.user_id) %>
  <%# if game.players_turn?(controller.user_id) %>
<!--    <p>Your Turn</p>-->
  <%# else %>
<!--    <p>Waiting for opponent</p>-->
  <%# end %>
<%# end %>